<strong>Olá, {{ name }}</strong>
<p>Há uma nova entrega disponível, mais informações abaixo:</p>
<p>
    <strong>Produto: </strong> {{ product }} <br />
    <br />
    <small>
        O produto já esta disponível para a retirada.
    </small>
</p>