<strong>Olá, {{ name }}</strong>
<p>Entrega cancelada, mais informações abaixo:</p>
<p>
    <strong>Produto: </strong> {{ product }} <br />
    <strong>Problema: </strong> {{ description }} <br />
</p>